html,
body,
div,
span,
p,
a,
em,
img,
b,
u,
i,
ol,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  font-style: normal;
}

body {
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    background: #000;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

#foreground {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 10;
    width: 100%;
    height: 100%;
}

#background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: transparent;
    overflow: hidden;
    z-index: 1;
}
